<mat-card>
  <mat-toolbar color="primary">
    <span class="mat-h3">Async Form</span>

    <span spacer></span>

    <button mat-button>
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>

  <mat-card-content>
    <form [formGroup]="group">
      <table cellspacing="0">
        <tr>
          <td>
            <mat-form-field compact>
              <mat-label>First name</mat-label>
              <input formControlName="firstName" matInput>
              <mat-error matErrorMessaging></mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field compact>
              <mat-label>Last Name</mat-label>
              <input formControlName="lastName" matInput>
              <mat-error matErrorMessaging></mat-error>
            </mat-form-field>
          </td>
        </tr>
      </table>

      <mat-form-field compact>
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput>
        <mat-error matErrorMessaging></mat-error>
      </mat-form-field>

      <mat-form-field compact>
        <mat-spinner *ngIf="!(animalOptions$ | async)" diameter="14" matPrefix></mat-spinner>
        <mat-label>Favorite Animal</mat-label>
        <mat-select formControlName="favoriteAnimal">
          <mat-option *ngFor="let animal of animalOptions$ | async" [value]="animal.name">
            {{ animal.name }} - {{ animal.animal_type }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-button>Cancel</button>
    <button [disabled]="!isReady" mat-flat-button color="primary">
      <mat-spinner *ngIf="!isReady; else loaded" diameter="20"></mat-spinner>
      <ng-template #loaded>Save</ng-template>
    </button>
  </mat-card-actions>
</mat-card>

